{# ----------------------------
variables
----------------------------- #}

{% set blogEntry = blogEntry ?? null %}

{# ----------------------------
template
----------------------------- #}

<article class="c-blogcard">
  <a href="{{ blogEntry.url }}">
    {% set img = blogEntry.blogImage.one() %}
    {% if img %}
      <img src="{{ img.getUrl({ mode: "crop", width: 800, height: 600 }) }}"
           class="o-fluidimg"
           alt="{{ img.title }}">
    {% endif %}
    <p>
      {# formats de date PHP https://www.php.net/manual/en/datetime.format #}
      <time datetime="{{ blogEntry.postDate | date("d-m-Y") }}">
        {{ blogEntry.postDate | date("j F Y") }}
      </time>
    </p>
    <h2>{{ blogEntry.title }}</h2>
  </a>
</article>